SUPABASE_URL=https://PROJECT.supabase.co
SUPABASE_SECRET_KEY=sb_secret_REPLACE_ME
TELEGRAM_BOT_TOKEN=REPLACE_ME
TELEGRAM_WEBHOOK_SECRET=REPLACE_WITH_RANDOM_STRING
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=REPLACE_ME
PUBLIC_BOT_URL=https://t.me/YOUR_BOT
PUBLIC_SHEET_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/edit
PUBLIC_GITHUB_URL=https://github.com/YOUR_USER/YOUR_REPO
DISPLAY_NAME=Your name
