SUPABASE_URL=https://dzfufybcxbtlsycbwmqx.supabase.co
SUPABASE_SECRET_KEY=sb_secret_REPLACE_ME
SUPABASE_PUBLISHABLE_KEY=sb_publishable_REPLACE_ME
TELEGRAM_BOT_TOKEN=REPLACE_ME
TELEGRAM_WEBHOOK_SECRET=REPLACE_WITH_RANDOM_STRING
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1uZKXgt7zArY6v48QflwMgLxB6mfx-tB1OHnxr_GFYzI
PUBLIC_BOT_URL=https://t.me/weddiing_hire_task_bot
PUBLIC_SHEET_URL=https://docs.google.com/spreadsheets/d/1uZKXgt7zArY6v48QflwMgLxB6mfx-tB1OHnxr_GFYzI/edit
PUBLIC_GITHUB_URL=https://github.com/aleksandragutchenko/wedding
DISPLAY_NAME=Friends Included Ltd
